.root{
  min-width: '300px';
  max-width: '350px';
  margin-top: '10';
  margin: auto;
  font-family: "'Avenir', Helvetica, Arial, sans-serif";
}

.column {
  float: left;
  width: 32%;
  margin-bottom: 16px;
  padding: 0 16px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.aboutsection {
  padding: 20px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 16px;
}

.item {
  width: 32%;
  // padding-bottom: 32%; /* Same as width, sets height */
  margin-bottom: 2%; /* (100-32*3)/2 */
  position: relative;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 720px) {
  .column {
    width: 100%;
    display: block;
  }
}
