
.Chatroom {
  text-align: center;
}
.app {
  background: #f3f3f3;
  color: #15202b;
  transition: background 0.25s ease-in-out;
}
.submit {
  background:'linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%)';
  border: 0;
  border-radius: 3;
  box-shadow: '0 3px 5px 2px rgba(255, 105, 135, .3)';
  color: white;
  height: 48;
  padding: '0 30px';

}
.chatwindow {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #7f7f7f;
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.15);
  max-height: 70%;
  .messages {
    flex: 1;
    overflow: scroll;

    .message {
      display: flex;
      border-bottom: 1px solid #efefef;
      padding: 10px;

      &:last-of-type {
        border-bottom: none;
      }

      .username {
        width: 100px;
        margin-right: 15px;
      }

      .messagetext {
        flex: 1;
      }
      .messagedatetime {
        flex: 1;
      }
    }
  }
  .inputcontainer {
    display: flex;

    input {
      flex: 1;
      height: 35px;
      font-size: 18px;
      box-sizing: border-box;
    }

    button {
      width: 75px;
      height: 35px;
      box-sizing: border-box;
    }
  }
}